Data Wrangling

### Table of Contents



1. [Introdcution](#1.-introduction)

2. [Importing Library's](#2.-Importing-Library's)

3. [Loading Data](#3.0.-loading-data)

4. [Looking over the data](#4.0.-Looking-Over-the-Data)

5. [Minimal Cleaning](#5.0.-Minimal-Cleaning)

6. [Saving the Data](#60-saving-the-data)

7. [Summary](#7.0.-Summary)

1. Introduction

This notebook focuses on collecting and organizing the data.

The Data Science Problem

Predict whether or not people will get the  H1N1, the seasonal flu vaccine, both or niether using information they shared about their backgrounds, opinions, and health behaviors. In the columns that contain just a 0 or 1 values, 0 = No; 1 = Yes.

### 2. Importing Library's

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import numpy as np
from openpyxl import Workbook

### 3.0. Loading Data

Reads the CSV file and store it in a pandas DataFrame
This will load the file as long as the csv file is in the same file directory as this iPyhton file.

In [2]:
#This code is specifically for Ipthyons notebook.
#If you use just normal python you will need to modify the file path to :
"""
import pandas as pd
import os 

base_dir = os.path.dirname(__file__)
# Replace the file path with your own
file_path =  os.path.join(base_dir, "test_set_features.csv")

# Read the CSV file and store it in a pandas DataFrame
df = pd.read_csv(file_path)

# Print the first few rows of the DataFrame to verify that it was loaded correctly
df.head(150)
"""
base_dir = os.getcwd()
file_path = f"{base_dir}/test_set_features.csv"

vaccines_df = pd.read_csv(file_path)

3.1.  Does the previously loaded dataset given enough information to sufficently answer the stated datasciene problem in the introduction.
*        
* What are the most useful features?
* What are the least useful features?

### 4.0. Looking Over the Data

Taking an intial look at the dataFrame.

In [3]:
vaccines_df.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

### 4.1.

 Taking an more detailed look to see what kind of data is in the dataFrame.

In [4]:
vaccines_df.shape

(26708, 36)

In [5]:
vaccines_df.dtypes

respondent_id                    int64
h1n1_concern                   float64
h1n1_knowledge                 float64
behavioral_antiviral_meds      float64
behavioral_avoidance           float64
behavioral_face_mask           float64
behavioral_wash_hands          float64
behavioral_large_gatherings    float64
behavioral_outside_home        float64
behavioral_touch_face          float64
doctor_recc_h1n1               float64
doctor_recc_seasonal           float64
chronic_med_condition          float64
child_under_6_months           float64
health_worker                  float64
health_insurance               float64
opinion_h1n1_vacc_effective    float64
opinion_h1n1_risk              float64
opinion_h1n1_sick_from_vacc    float64
opinion_seas_vacc_effective    float64
opinion_seas_risk              float64
opinion_seas_sick_from_vacc    float64
age_group                       object
education                       object
race                            object
sex                             object
income_poverty                  object
marital_status                  object
rent_or_own                     object
employment_status               object
hhs_geo_region                  object
census_msa                      object
household_adults               float64
household_children             float64
employment_industry             object
employment_occupation           object
dtype: object

In [6]:
vaccines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26708 entries, 0 to 26707
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26708 non-null  int64
 1   h1n1_concern                 26623 non-null  float64
 2   h1n1_knowledge               26586 non-null  float64
 3   behavioral_antiviral_meds    26629 non-null  float64
 4   behavioral_avoidance         26495 non-null  float64
 5   behavioral_face_mask         26689 non-null  float64
 6   behavioral_wash_hands        26668 non-null  float64
 7   behavioral_large_gatherings  26636 non-null  float64
 8   behavioral_outside_home      26626 non-null  float64
 9   behavioral_touch_face        26580 non-null  float64
 10  doctor_recc_h1n1             24548 non-null  float64
 11  doctor_recc_seasonal         24548 non-null  float64
 12  chronic_med_condition        25776 non-null  float64
 13  child_under_6_months         25895 non-null  float64
 14  health_worker                25919 non-null  float64
 15  health_insurance             14480 non-null  float64
 16  opinion_h1n1_vacc_effective  26310 non-null  float64
 17  opinion_h1n1_risk            26328 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26333 non-null  float64
 19  opinion_seas_vacc_effective  26256 non-null  float64
 20  opinion_seas_risk            26209 non-null  float64
 21  opinion_seas_sick_from_vacc  26187 non-null  float64
 22  age_group                    26708 non-null  object
 23  education                    25301 non-null  object
 24  race                         26708 non-null  object
 25  sex                          26708 non-null  object
 26  income_poverty               22211 non-null  object
 27  marital_status               25266 non-null  object
 28  rent_or_own                  24672 non-null  object
 29  employment_status            25237 non-null  object
 30  hhs_geo_region               26708 non-null  object
 31  census_msa                   26708 non-null  object
 32  household_adults             26483 non-null  float64
 33  household_children           26483 non-null  float64
 34  employment_industry          13433 non-null  object
 35  employment_occupation        13282 non-null  object
dtypes: float64(23), int64(1), object(12)
memory usage: 7.3+ MB

After looking at the data in a couple different ways, I think I can change all the features to an int. When I called the dataFrame all the numbers ended in a .0, so essentally they represent whole  numbers.

### 4.2.

Looking to see what cells have missing values.

In [7]:
nan_value = pd.concat([vaccines_df.isnull().sum(), 100 * vaccines_df.isnull().mean()], axis=1).sort_values(by=1, ascending=False)

In [8]:
nan_value

                                 0          1
employment_occupation        13426  50.269582
employment_industry          13275  49.704208
health_insurance             12228  45.784035
income_poverty                4497  16.837652
doctor_recc_h1n1              2160   8.087464
doctor_recc_seasonal          2160   8.087464
rent_or_own                   2036   7.623184
employment_status             1471   5.507713
marital_status                1442   5.399131
education                     1407   5.268084
chronic_med_condition          932   3.489591
child_under_6_months           813   3.044032
health_worker                  789   2.954171
opinion_seas_sick_from_vacc    521   1.950726
opinion_seas_risk              499   1.868354
opinion_seas_vacc_effective    452   1.692377
opinion_h1n1_vacc_effective    398   1.490190
opinion_h1n1_risk              380   1.422795
opinion_h1n1_sick_from_vacc    375   1.404074
household_children             225   0.842444
household_adults               225   0.842444
behavioral_avoidance           213   0.797514
behavioral_touch_face          128   0.479257
h1n1_knowledge                 122   0.456792
h1n1_concern                    85   0.318257
behavioral_outside_home         82   0.307024
behavioral_antiviral_meds       79   0.295792
behavioral_large_gatherings     72   0.269582
behavioral_wash_hands           40   0.149768
behavioral_face_mask            19   0.071140
hhs_geo_region                   0   0.000000
census_msa                       0   0.000000
sex                              0   0.000000
race                             0   0.000000
age_group                        0   0.000000
respondent_id                    0   0.000000

Employment_industry	employment_occupation have the most missing values they also seem to be coded and I dont have the key to tell me what the actual industry or occupations are so I will drop these columns

In [9]:
#deside to leave these columns in the data set. I just commemented them out.
#vaccines_df.drop(['employment_occupation', 'employment_industry','census_msa','hhs_geo_region','employment_status','rent_or_own'], axis=1, inplace=True)

In [10]:
vaccines_df.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1.0,0.0,atmlpfrs,hfxkjkmi
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3.0,0.0,atmlpfrs,xqwwgdyp
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1.0,0.0,nduyfdeo,pvmttkik
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1.0,0.0,NaN,NaN
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0.0,1.0,fcxhlnwr,mxkfnird

I took out a few columns that I beleived the data would have no use in finding out if the respondent is more or less likely to recieve either of the vaccinations. There are a few others that Im not sure if the data would be usefull or not so I left those columns in.

In [11]:
cat= vaccines_df.select_dtypes(include=['object']).copy()
cat.head()

,age_group,education,race,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,employment_industry,employment_occupation
0,35 - 44 Years,College Graduate,Hispanic,Female,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",atmlpfrs,hfxkjkmi
1,18 - 34 Years,12 Years,White,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,atmlpfrs,xqwwgdyp
2,55 - 64 Years,College Graduate,White,Male,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,nduyfdeo,pvmttkik
3,65+ Years,12 Years,White,Female,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",NaN,NaN
4,35 - 44 Years,12 Years,Black,Female,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,fcxhlnwr,mxkfnird

In [12]:
noncat= vaccines_df.select_dtypes(exclude=['object']).copy()
noncat.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,health_worker,health_insurance,opinion_h1n1_vacc_effective,opinion_h1n1_risk,opinion_h1n1_sick_from_vacc,opinion_seas_vacc_effective,opinion_seas_risk,opinion_seas_sick_from_vacc,household_adults,household_children
0,26707,2.0,2.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,0.0,1.0,5.0,1.0,1.0,5.0,1.0,1.0,1.0,0.0
1,26708,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,4.0,1.0,1.0,4.0,1.0,1.0,3.0,0.0
2,26709,2.0,2.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,...,0.0,NaN,5.0,4.0,2.0,5.0,4.0,4.0,1.0,0.0
3,26710,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,4.0,2.0,2.0,4.0,4.0,2.0,1.0,0.0
4,26711,3.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,...,1.0,1.0,5.0,2.0,4.0,4.0,4.0,2.0,0.0,1.0

### 5.0. Minimal Cleaning

In [13]:
#This section will be moved to another notebook focused on EDA and data cleaning. I will comment the code out.

'''
belowPovNoInsur_df = vaccines_df[(vaccines_df['income_poverty'] == 'Below Poverty') & (vaccines_df['health_insurance'] == 0)]
belowPovInsur_df = vaccines_df[(vaccines_df['income_poverty'] == 'Below Poverty') & (vaccines_df['health_insurance'] == 1)]

# Count the number of rows in each DataFrame
belowPovNoInsur_count = len(belowPovNoInsur_df)
belowPovInsur_count = len(belowPovInsur_df)

# Labels and values for the bar chart
labels = ['Below Poverty, No Insurance', 'Below Poverty, Insurance']
values = [belowPovNoInsur_count, belowPovInsur_count]

# Create a bar chart
plt.bar(labels, values, color=['red', 'green'])
plt.xlabel('Income Poverty and Health Insurance Status')
plt.ylabel('Number of Individuals')
plt.title('Comparison of Individuals Below Poverty with and without Health Insurance')
plt.show()

'''

"\nbelowPovNoInsur_df = vaccines_df[(vaccines_df['income_poverty'] == 'Below Poverty') & (vaccines_df['health_insurance'] == 0)]\nbelowPovInsur_df = vaccines_df[(vaccines_df['income_poverty'] == 'Below Poverty') & (vaccines_df['health_insurance'] == 1)]\n\n# Count the number of rows in each DataFrame\nbelowPovNoInsur_count = len(belowPovNoInsur_df)\nbelowPovInsur_count = len(belowPovInsur_df)\n\n# Labels and values for the bar chart\nlabels = ['Below Poverty, No Insurance', 'Below Poverty, Insurance']\nvalues = [belowPovNoInsur_count, belowPovInsur_count]\n\n# Create a bar chart\nplt.bar(labels, values, color=['red', 'green'])\nplt.xlabel('Income Poverty and Health Insurance Status')\nplt.ylabel('Number of Individuals')\nplt.title('Comparison of Individuals Below Poverty with and without Health Insurance')\nplt.show()\n\n"

Next I'll turn float values into int

AJ

I am a little stuck here as everything I am trying isnt working. Each cell below is a different atttempt. They are independent of each other and if I can get one to work i will delete the others. I was just trying to change the float values to integers.

Ok so I finally figured it out and got it working below is the code. I removed the rest of the attempts.

In [14]:
# Identify columns with float values
float_columns = vaccines_df.select_dtypes(include='float64').columns

# Round float values to remove the decimal part and convert to integers
vaccines_df[float_columns] = vaccines_df[float_columns].round().astype('Int64')

In [15]:
vaccines_df.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,26707,2,2,0,1,0,1,1,0,1,...,"> $75,000",Not Married,Rent,Employed,mlyzmhmf,"MSA, Not Principle City",1,0,atmlpfrs,hfxkjkmi
1,26708,1,1,0,0,0,0,0,0,0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,Non-MSA,3,0,atmlpfrs,xqwwgdyp
2,26709,2,2,0,0,1,1,1,1,1,...,"> $75,000",Married,Own,Employed,lrircsnp,Non-MSA,1,0,nduyfdeo,pvmttkik
3,26710,1,1,0,0,0,0,0,0,0,...,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,lrircsnp,"MSA, Not Principle City",1,0,NaN,NaN
4,26711,3,1,1,1,0,1,1,1,1,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,lzgpxyit,Non-MSA,0,1,fcxhlnwr,mxkfnird

In [16]:
vaccines_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26708 entries, 0 to 26707
Data columns (total 36 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26708 non-null  int64
 1   h1n1_concern                 26623 non-null  Int64
 2   h1n1_knowledge               26586 non-null  Int64
 3   behavioral_antiviral_meds    26629 non-null  Int64
 4   behavioral_avoidance         26495 non-null  Int64
 5   behavioral_face_mask         26689 non-null  Int64
 6   behavioral_wash_hands        26668 non-null  Int64
 7   behavioral_large_gatherings  26636 non-null  Int64
 8   behavioral_outside_home      26626 non-null  Int64
 9   behavioral_touch_face        26580 non-null  Int64
 10  doctor_recc_h1n1             24548 non-null  Int64
 11  doctor_recc_seasonal         24548 non-null  Int64
 12  chronic_med_condition        25776 non-null  Int64
 13  child_under_6_months         25895 non-null  Int64
 14  health_worker                25919 non-null  Int64
 15  health_insurance             14480 non-null  Int64
 16  opinion_h1n1_vacc_effective  26310 non-null  Int64
 17  opinion_h1n1_risk            26328 non-null  Int64
 18  opinion_h1n1_sick_from_vacc  26333 non-null  Int64
 19  opinion_seas_vacc_effective  26256 non-null  Int64
 20  opinion_seas_risk            26209 non-null  Int64
 21  opinion_seas_sick_from_vacc  26187 non-null  Int64
 22  age_group                    26708 non-null  object
 23  education                    25301 non-null  object
 24  race                         26708 non-null  object
 25  sex                          26708 non-null  object
 26  income_poverty               22211 non-null  object
 27  marital_status               25266 non-null  object
 28  rent_or_own                  24672 non-null  object
 29  employment_status            25237 non-null  object
 30  hhs_geo_region               26708 non-null  object
 31  census_msa                   26708 non-null  object
 32  household_adults             26483 non-null  Int64
 33  household_children           26483 non-null  Int64
 34  employment_industry          13433 non-null  object
 35  employment_occupation        13282 non-null  object
dtypes: Int64(23), int64(1), object(12)
memory usage: 7.9+ MB

In [17]:
'''
# Create a copy of the original DataFrame
vaccines_df_copy = vaccines_df.copy()

# Convert 'health_worker' column to string type in the copied DataFrame
vaccines_df_copy['health_worker'] = vaccines_df_copy['health_worker'].astype(str)

# Replace missing values in the 'health_worker' column with 'Unknown'
vaccines_df_copy['health_worker'].fillna('Unknown', inplace=True)


# Plotting (optional)
sns.countplot(x='health_worker', data=vaccines_df_copy, palette='autumn_r')
plt.xlabel('Health Worker')
plt.ylabel('Count')
plt.title('Count of People by Health Worker Status')
plt.show()
'''

"\n# Create a copy of the original DataFrame\nvaccines_df_copy = vaccines_df.copy()\n\n# Convert 'health_worker' column to string type in the copied DataFrame\nvaccines_df_copy['health_worker'] = vaccines_df_copy['health_worker'].astype(str)\n\n# Replace missing values in the 'health_worker' column with 'Unknown'\nvaccines_df_copy['health_worker'].fillna('Unknown', inplace=True)\n\n\n# Plotting (optional)\nsns.countplot(x='health_worker', data=vaccines_df_copy, palette='autumn_r')\nplt.xlabel('Health Worker')\nplt.ylabel('Count')\nplt.title('Count of People by Health Worker Status')\nplt.show()\n"

In [18]:
'''sns.countplot(x='health_worker', data=vaccines_df, palette='autumn_r')
plt.xlabel('Health Worker')
plt.ylabel('Count')
plt.title('Count of how many people are health workers')
plt.show()
'''

"sns.countplot(x='health_worker', data=vaccines_df, palette='autumn_r')\nplt.xlabel('Health Worker')\nplt.ylabel('Count')\nplt.title('Count of how many people are health workers')\nplt.show()\n"

### 6.0. Saving the Data
Saving out the dataframe for next steps

In [21]:
cat.to_csv('catagorical.csv', index=False)
noncat.to_csv('noncatagorical.csv', index=False)


vaccines_df.to_csv('vaccines_df.csv', index=False)

### 7.0. Summary

In this notebook I loaded the data as a dataframe, checked to see what missing values were in the data, changed some of the float values to int just to make them a little neater. I also removed a few columns that had data that I wouldnt have been able to use as it looks like I would need a key to understand it, which I dont have.